# EDITOR
*.swp
*~
\#*\#
1;5002;0c
# BIN
*.o
*.a
*.d
*.so
*.out


# AUTOTOOLS
Makefile
aclocal.m4
/config.*
/configure
/depcomp
/install-sh
/missing
/my-bittorrent
/stamp-h1
/compile
/m4
/.libs
/ar-lib
/libtool
/ltmain.sh
*.cache
*.deps
*.dirstamp
*.in
*.lo
*.la
